HTTP_PORT=3000

DISCORD_TOKEN=
CHANNEL_ID=
JWT_SECRET=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHATID=-
TELEGRAM_THREAD_ID=0 

COUCHBASE_URL=
COUCHBASE_USERNAME=nhat.huy.7996@gmail.com
COUCHBASE_PASSWORD=
COUCHBASE_BUCKET=

REDIS_URL=
REDIS_USERNAME=
REDIS_PASSWORD= 